body {
    background: #f1f1f1;
}

.btn-link {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.main-container {
    position: relative;
    top: 50px;
}

.label-text {
    font-weight: bold;
}

.label-value {
    font-weight: normal;
}